In [840]:
# Instalando e importando bibliotecas
!pip install requests
!pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.5.18.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [841]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [842]:
# web scraping / Obtendo dados
FII_url = requests.get("https://www.fundsexplorer.com.br/ranking")

In [843]:
FII_bs4 = BeautifulSoup(FII_url.text, "html.parser")

In [844]:
FII_table = FII_bs4.findAll(attrs = {'id':'scroll-wrapper'})

In [845]:
table = FII_table[0].findAll('table')

In [846]:
df = pd.read_html(str(FII_table[0]))[0]

In [847]:
df['P/VPA'] = df['P/VPA']/100

In [848]:
# Dados de todos os FIIs disponíveis
df.columns

Index(['Códigodo fundo', 'Setor', 'Preço Atual', 'Liquidez Diária',
       'Dividendo', 'DividendYield', 'DY (3M)Acumulado', 'DY (6M)Acumulado',
       'DY (12M)Acumulado', 'DY (3M)Média', 'DY (6M)Média', 'DY (12M)Média',
       'DY Ano', 'Variação Preço', 'Rentab.Período', 'Rentab.Acumulada',
       'PatrimônioLíq.', 'VPA', 'P/VPA', 'DYPatrimonial',
       'VariaçãoPatrimonial', 'Rentab. Patr.no Período',
       'Rentab. Patr.Acumulada', 'VacânciaFísica', 'VacânciaFinanceira',
       'QuantidadeAtivos'],
      dtype='object')

In [849]:
indicadores=['Códigodo fundo', 
             'Setor', 
             'Preço Atual',
             'P/VPA',
             'DY (12M)Acumulado',
             'VacânciaFísica',
             'VacânciaFinanceira',
             'Liquidez Diária',
             'QuantidadeAtivos',
             'PatrimônioLíq.',
             'VPA',
             'Dividendo',
             'DividendYield',
           
]

In [850]:
FII_df = df[indicadores]

In [851]:
str(list(FII_df['Códigodo fundo'].sort_values()))

"['ABCP11', 'AFHI11', 'AFOF11', 'AIEC11', 'ALMI11', 'ALZR11', 'APTO11', 'ARCT11', 'ARRI11', 'ATSA11', 'BARI11', 'BBFI11B', 'BBFO11', 'BBGO11', 'BBIM11', 'BBPO11', 'BBRC11', 'BCFF11', 'BCIA11', 'BCRI11', 'BICE11', 'BICR11', 'BIME11', 'BLCA11', 'BLCP11', 'BLMC11', 'BLMG11', 'BLMO11', 'BLMR11', 'BMLC11', 'BNFS11', 'BPFF11', 'BPML11', 'BRCO11', 'BRCR11', 'BREV11', 'BRLA11', 'BTAL11', 'BTCR11', 'BTLG11', 'BTRA11', 'BTSG11', 'BTWR11', 'BZLI11', 'CACR11', 'CARE11', 'CBOP11', 'CCRF11', 'CEOC11', 'CJCT11', 'CNES11', 'CORM11', 'CPFF11', 'CPTS11', 'CRFF11', 'CTXT11', 'CVBI11', 'CXAG11', 'CXCE11B', 'CXCI11', 'CXCO11', 'CXRI11', 'CXTL11', 'CYCR11', 'DEVA11', 'DRIT11B', 'DVFF11', 'EDFO11B', 'EDGA11', 'EQIR11', 'ERCR11', 'ERPA11', 'EURO11', 'EVBI11', 'FAED11', 'FAMB11B', 'FATN11', 'FCFL11', 'FEXC11', 'FIGS11', 'FIIB11', 'FIIP11B', 'FISC11', 'FIVN11', 'FLCR11', 'FLMA11', 'FLRP11', 'FMOF11', 'FPAB11', 'FVPQ11', 'GALG11', 'GAME11', 'GCFF11', 'GCRA11', 'GCRI11', 'GESE11B', 'GGRC11', 'GSFI11', 'GTLG11', 'GTWR11', 'HAAA11', 'HABT11', 'HBRH11', 'HCHG11', 'HCRI11', 'HCTR11', 'HFOF11', 'HGBS11', 'HGCR11', 'HGFF11', 'HGIC11', 'HGLG11', 'HGPO11', 'HGRE11', 'HGRS11', 'HGRU11', 'HLOG11', 'HOSI11', 'HPDP11', 'HRDF11', 'HREC11', 'HSAF11', 'HSLG11', 'HSML11', 'HSRE11', 'HTMX11', 'HUSC11', 'IBCR11', 'IBFF11', 'IDFI11', 'IRDM11', 'IRIM11', 'ITIP11', 'ITIT11', 'JFLL11', 'JGPX11', 'JPPA11', 'JRDM11', 'JSAF11', 'JSRE11', 'KFOF11', 'KINP11', 'KISU11', 'KNCA11', 'KNCR11', 'KNHY11', 'KNIP11', 'KNRE11', 'KNRI11', 'KNSC11', 'LASC11', 'LFTT11', 'LGCP11', 'LUGG11', 'LVBI11', 'MALL11', 'MATV11', 'MAXR11', 'MBRF11', 'MCCI11', 'MCHF11', 'MCHY11', 'MFAI11', 'MFII11', 'MGCR11', 'MGFF11', 'MGHT11', 'MGLG11', 'MORC11', 'MORE11', 'MXRF11', 'NAVT11', 'NCHB11', 'NEWL11', 'NEWU11', 'NSLU11', 'NVHO11', 'NVIF11B', 'ONEF11', 'ORPD11', 'OUFF11', 'OUJP11', 'OULG11', 'OURE11', 'PABY11', 'PATC11', 'PATL11', 'PLCR11', 'PLOG11', 'PLRI11', 'PORD11', 'PQAG11', 'PQDP11', 'PRSV11', 'PVBI11', 'QAGR11', 'QAMI11', 'QIRI11', 'RBCO11', 'RBDS11', 'RBED11', 'RBFF11', 'RBGS11', 'RBHG11', 'RBHY11', 'RBIR11', 'RBLG11', 'RBRD11', 'RBRF11', 'RBRL11', 'RBRP11', 'RBRR11', 'RBRS11', 'RBRY11', 'RBVA11', 'RBVO11', 'RCRB11', 'RDPD11', 'RECR11', 'RECT11', 'RECX11', 'RELG11', 'RFOF11', 'RMAI11', 'RNDP11', 'RNGO11', 'RRCI11', 'RVBI11', 'RZAG11', 'RZAK11', 'RZTR11', 'SADI11', 'SARE11', 'SCPF11', 'SDIL11', 'SEQR11', 'SHPH11', 'SNCI11', 'SNFF11', 'SPTW11', 'SPVJ11', 'SRVD11', 'STRX11', 'TEPP11', 'TGAR11', 'TORD11', 'TRNT11', 'TRXF11', 'URPR11', 'VCJR11', 'VCRR11', 'VGHF11', 'VGIA11', 'VGIP11', 'VGIR11', 'VIFI11', 'VILG11', 'VINO11', 'VISC11', 'VIUR11', 'VJFD11', 'VLOL11', 'VOTS11', 'VRTA11', 'VSHO11', 'VSLH11', 'VTLT11', 'VVPR11', 'VXXV11', 'WPLZ11', 'WTSP11B', 'XPCA11', 'XPCI11', 'XPCM11', 'XPHT11', 'XPIN11', 'XPLG11', 'XPML11', 'XPPR11', 'XPSF11', 'XTED11', 'YUFI11B']"

In [852]:
# Organização dos dados estraídos
# Faremos cópia do dataframe para manipulá-lo com mais liberdade
#FII_df_backup = FII_df.copy()

In [853]:
# Eliminando os R$  
FII_df = FII_df.replace(to_replace= r"^R\$ ", value = "", regex = True)

In [854]:
# Eliminando os "%" 
FII_df = FII_df.replace(to_replace= r"%$", value = "", regex = True)

In [855]:
# Removendo os pontos dos separadores decimais
FII_df['PatrimônioLíq.'] = FII_df['PatrimônioLíq.'].str.replace(".","")
FII_df['Preço Atual'] = FII_df['Preço Atual'].str.replace(".","")
FII_df['Dividendo'] = FII_df['Dividendo'].str.replace(".","")
FII_df['VPA'] = FII_df['VPA'].str.replace(".","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

In [856]:
# Substituir as "," por "." e Transformar as variasveis em float
FII_df['PatrimônioLíq.'] = FII_df['PatrimônioLíq.'].str.replace(",",".").astype(float)
FII_df['Preço Atual'] = FII_df['Preço Atual'].str.replace(",",".").astype(float)
FII_df['Dividendo'] = FII_df['Dividendo'].str.replace(",",".").astype(float)
FII_df['VPA'] = FII_df['VPA'].str.replace(",",".").astype(float)
FII_df['DividendYield'] = FII_df['DividendYield'].str.replace(",",".").astype(float)
FII_df['DY (12M)Acumulado'] = FII_df['DY (12M)Acumulado'].str.replace(',','.').astype(float)
FII_df['VacânciaFísica'] = FII_df['VacânciaFísica'].str.replace(',','.').astype(float)
FII_df['VacânciaFinanceira'] = FII_df['VacânciaFinanceira'].str.replace(',','.').astype(float)

In [857]:
#FII mais caro
np.max(FII_df['Preço Atual'])

76000.0

In [858]:
#FII mais barato
np.min(FII_df['Preço Atual'])

1.0

In [859]:
#Setores
set(FII_df.Setor)

{'Hospital',
 'Hotel',
 'Híbrido',
 'Lajes Corporativas',
 'Logística',
 'Outros',
 'Residencial',
 'Shoppings',
 'Títulos e Val. Mob.',
 nan}

In [860]:
FII_df.dropna(subset=['Preço Atual','DividendYield','Setor'], inplace = True)
FII_df

,Códigodo fundo,Setor,Preço Atual,P/VPA,DY (12M)Acumulado,VacânciaFísica,VacânciaFinanceira,Liquidez Diária,QuantidadeAtivos,PatrimônioLíq.,VPA,Dividendo,DividendYield
0,FIVN11,Shoppings,2.17,0.31,0.00,56.00,NaN,836.0,1,6.567849e+07,6.98,0.00,0.00
1,BZLI11,Títulos e Val. Mob.,14.70,1.37,0.00,NaN,NaN,44041.0,0,4.310768e+08,10.70,0.00,0.00
2,XTED11,Lajes Corporativas,6.18,0.44,0.00,0.00,100.0,1713.0,1,2.730595e+07,13.89,0.00,0.00
3,ALMI11,Lajes Corporativas,930.00,0.41,0.00,64.05,NaN,37.0,1,2.496330e+08,2245.37,0.00,0.00
4,PABY11,Híbrido,7.60,-0.60,0.00,NaN,NaN,1.0,1,-9.546408e+06,-12.59,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,RNDP11,Títulos e Val. Mob.,382.57,0.81,8.38,NaN,NaN,118.0,0,5.099293e+07,474.44,4.26,1.12
278,PLCR11,Híbrido,86.92,0.94,12.96,NaN,NaN,5941.0,0,1.952303e+08,92.56,1.10,1.26
279,CXCO11,Lajes Corporativas,77.00,0.80,9.31,NaN,NaN,6708.0,0,3.763092e+08,95.89,0.73,0.94
280,PATL11,Híbrido,76.36,0.78,9.13,0.00,0.0,19608.0,4,4.893448e+08,98.03,0.58,0.75
281,HGRU11,Híbrido,116.00,0.98,7.94,0.00,0.0,27431.0,17,2.187503e+09,118.84,0.82,0.71

In [861]:
# Fundos vendidos abaixo do valor de mercado
FII_df['Fundos_VPA'] = FII_df["P/VPA"] < 1
FII_VPA = FII_df[FII_df['Fundos_VPA']==True]
FII_VPA.sort_values(by='Códigodo fundo')

,Códigodo fundo,Setor,Preço Atual,P/VPA,DY (12M)Acumulado,VacânciaFísica,VacânciaFinanceira,Liquidez Diária,QuantidadeAtivos,PatrimônioLíq.,VPA,Dividendo,DividendYield,Fundos_VPA
49,ABCP11,Shoppings,72.89,0.79,8.77,7.50,NaN,1114.0,1,1.120647e+09,91.83,0.65,0.88,True
167,AFOF11,Títulos e Val. Mob.,89.00,0.87,0.00,NaN,NaN,664.0,0,7.072136e+07,102.32,1.14,1.28,True
34,AIEC11,Lajes Corporativas,79.28,0.78,10.22,0.00,NaN,14632.0,2,4.885024e+08,101.24,0.72,0.90,True
3,ALMI11,Lajes Corporativas,930.00,0.41,0.00,64.05,NaN,37.0,1,2.496330e+08,2245.37,0.00,0.00,True
26,ATSA11,Shoppings,88.10,0.99,2.97,21.90,NaN,9.0,1,1.562543e+08,89.23,0.25,0.18,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,XPLG11,Logística,95.45,0.84,7.57,8.80,1.2,36719.0,13,3.069299e+09,113.25,0.66,0.67,True
122,XPML11,Shoppings,96.80,0.96,7.31,3.90,NaN,31327.0,16,1.892808e+09,101.32,0.68,0.70,True
254,XPPR11,Outros,53.89,0.69,9.52,46.00,0.0,14974.0,4,5.742411e+08,78.49,0.45,0.77,True
266,XPSF11,Outros,7.32,0.08,10.43,NaN,NaN,95713.0,0,3.787900e+08,87.48,0.68,0.93,True
2,XTED11,Lajes Corporativas,6.18,0.44,0.00,0.00,100.0,1713.0,1,2.730595e+07,13.89,0.00,0.00,True

In [862]:
# Dividend Yield maior que 10%
FII_VPA_Select= FII_VPA[FII_VPA['DY (12M)Acumulado']>10]
FII_VPA_Select.sort_values(by='Códigodo fundo')

,Códigodo fundo,Setor,Preço Atual,P/VPA,DY (12M)Acumulado,VacânciaFísica,VacânciaFinanceira,Liquidez Diária,QuantidadeAtivos,PatrimônioLíq.,VPA,Dividendo,DividendYield,Fundos_VPA
34,AIEC11,Lajes Corporativas,79.28,0.78,10.22,0.00,NaN,14632.0,2,4.885024e+08,101.24,0.72,0.90,True
92,BARI11,Títulos e Val. Mob.,100.60,0.98,13.27,NaN,NaN,7626.0,0,4.743034e+08,102.35,1.30,1.27,True
66,BBFI11B,Lajes Corporativas,1936.03,0.68,14.14,39.11,NaN,191.0,2,3.707626e+08,2852.02,23.91,1.16,True
29,BBFO11,Títulos e Val. Mob.,72.89,0.85,10.31,NaN,NaN,611.0,0,3.431596e+08,85.71,0.77,1.05,True
70,BBPO11,Lajes Corporativas,81.54,0.85,11.25,0.00,0.00,14178.0,64,1.526612e+09,95.89,0.89,1.04,True
60,BBRC11,Outros,96.88,0.90,10.35,5.37,1.08,1146.0,20,1.718291e+08,108.07,0.94,0.95,True
152,BLMC11,Outros,94.01,0.96,12.40,NaN,NaN,5.0,0,3.921653e+07,98.16,1.20,1.25,True
205,BLMG11,Logística,79.50,0.82,11.23,0.00,0.00,6048.0,4,3.684345e+08,96.69,0.80,0.94,True
187,BLMR11,Títulos e Val. Mob.,7.42,0.89,10.90,NaN,NaN,21261.0,0,2.140527e+08,8.38,0.08,1.01,True
271,BPFF11,Títulos e Val. Mob.,63.61,0.81,10.18,NaN,NaN,4296.0,0,3.515101e+08,78.25,0.65,1.00,True
263,CBOP11,Lajes Corporativas,62.01,0.69,12.26,33.59,30.79,4338.0,1,1.263803e+08,89.31,0.49,0.77,True
230,CPFF11,Híbrido,68.99,0.89,10.51,NaN,NaN,12724.0,0,4.211661e+08,77.28,0.60,0.85,True
76,CXCE11B,Outros,38.55,0.59,12.16,0.00,NaN,364.0,1,1.110487e+08,64.83,0.35,0.89,True
212,FAED11,Outros,142.00,0.66,10.11,0.00,NaN,454.0,3,1.388235e+08,216.18,1.48,1.02,True
139,FAMB11B,Lajes Corporativas,820.02,0.26,10.43,100.00,NaN,2.0,1,3.253447e+08,3104.43,9.16,0.56,True
210,FEXC11,Títulos e Val. Mob.,89.57,0.96,11.57,NaN,NaN,10614.0,0,5.717035e+08,93.67,1.10,1.20,True
146,GCFF11,Títulos e Val. Mob.,71.82,0.81,11.11,NaN,NaN,922.0,0,3.009670e+07,88.89,0.75,1.03,True
31,HBRH11,Híbrido,83.90,0.74,10.40,NaN,NaN,20489.0,3,3.137782e+08,113.19,0.71,0.85,True
204,HCTR11,Outros,108.30,0.90,15.45,NaN,NaN,82865.0,0,2.644863e+09,119.76,1.75,1.65,True
80,HGIC11,Títulos e Val. Mob.,110.81,0.99,10.52,NaN,NaN,186.0,0,3.118663e+07,112.20,0.99,0.90,True
35,HSAF11,Títulos e Val. Mob.,93.44,0.98,13.07,NaN,NaN,2734.0,0,1.684045e+08,94.95,1.15,1.21,True
55,ITIP11,Títulos e Val. Mob.,82.97,0.95,12.89,NaN,NaN,2006.0,0,6.536910e+07,87.37,1.02,1.23,True
88,JPPA11,Títulos e Val. Mob.,102.34,0.96,14.92,NaN,NaN,3980.0,0,6.455450e+07,106.88,1.80,1.74,True
222,MBRF11,Outros,699.00,0.62,13.54,0.00,NaN,86.0,2,1.137176e+08,1118.56,10.00,1.42,True
242,MFAI11,Híbrido,72.18,0.94,11.84,NaN,NaN,402.0,0,2.338973e+07,77.15,0.44,0.53,True
250,MFII11,Híbrido,95.96,0.92,12.49,NaN,NaN,4534.0,9,4.343143e+08,104.73,1.11,1.07,True
134,MGCR11,Títulos e Val. Mob.,86.00,0.90,12.17,NaN,NaN,1095.0,0,1.351998e+08,95.06,1.15,1.31,True
42,MGHT11,Hotel,76.98,0.78,10.20,NaN,NaN,1679.0,0,1.297777e+08,98.78,0.80,1.01,True
117,MORE11,Títulos e Val. Mob.,67.95,0.78,10.50,NaN,NaN,3883.0,0,2.029528e+08,87.51,0.70,1.03,True
143,MXRF11,Híbrido,9.71,0.95,10.39,NaN,NaN,555900.0,0,2.302694e+09,10.19,0.11,1.11,True
144,NAVT11,Títulos e Val. Mob.,73.07,0.81,10.29,NaN,NaN,4927.0,0,9.502605e+07,90.11,0.85,1.16,True
115,NEWL11,Híbrido,92.99,0.80,10.16,0.00,NaN,9145.0,2,2.367494e+08,116.45,0.80,0.80,True
137,NEWU11,Lajes Corporativas,38.00,0.59,16.63,63.20,NaN,1079.0,3,4.814503e+07,64.89,0.00,0.00,True
151,OUFF11,Títulos e Val. Mob.,65.36,0.82,11.30,NaN,NaN,1323.0,0,1.444772e+08,79.63,0.72,1.11,True
253,OUJP11,Títulos e Val. Mob.,94.97,0.93,12.80,NaN,NaN,3390.0,0,3.310427e+08,101.78,1.30,1.36,True
162,OURE11,Títulos e Val. Mob.,77.95,0.84,13.01,NaN,NaN,1085.0,0,9.975426e+07,92.61,0.95,1.19,True
278,PLCR11,Híbrido,86.92,0.94,12.96,NaN,NaN,5941.0,0,1.952303e+08,92.56,1.10,1.26,True
273,PLOG11,Logística,70.63,0.70,11.14,20.40,NaN,1227.0,1,7.515549e+07,100.21,0.75,1.01,True
19,PORD11,Títulos e Val. Mob.,94.10,0.95,13.24,NaN,NaN,4395.0,0,3.698597e+08,99.20,1.41,1.49,True
64,RBHG11,Títulos e Val. Mob.,89.50,0.93,13.41,NaN,NaN,5384.0,0,1.666678e+08,96.47,1.15,1.26,True
67,RBVA11,Outros,92.78,0.90,10.75,0.70,NaN,15816.0,72,1.193342e+09,102.98,0.92,0.93,True
103,RDPD11,Títulos e Val. Mob.,53.00,0.89,10.85,NaN,NaN,1585.0,0,6.452890e+07,59.86,0.84,1.48,True
153,RECX11,Outros,79.00,0.91,11.73,NaN,NaN,191.0,0,1.890990e+07,86.62,0.70,0.88,True
219,RELG11,Híbrido,74.00,0.61,11.12,10.40,10.40,3554.0,3,1.615510e+08,121.05,0.90,1.21,True
38,RFOF11,Títulos e Val. Mob.,71.84,0.85,10.13,NaN,NaN,1823.0,0,9.129462e+07,84.68,0.67,0.94,True
28,RRCI11,Títulos e Val. Mob.,90.50,0.92,13.62,NaN,NaN,319.0,0,4.726013e+07,98.10,1.30,1.41,True
229,RVBI11,Títulos e Val. Mob.,74.55,0.85,10.66,NaN,NaN,2086.0,0,1.260013e+08,87.50,0.75,0.97,True
197,SEQR11,Outros,63.52,0.66,10.31,0.00,NaN,3106.0,0,1.547155e+08,96.18,0.63,0.97,True
10,SPTW11,Lajes Corporativas,44.08,0.83,16.30,0.00,NaN,3630.0,1,9.506514e+07,52.87,0.40,0.90,True
113,TGAR11,Outros,114.75,0.90,11.60,NaN,NaN,16585.0,0,1.447640e+09,128.00,1.44,1.20,True
203,TORD11,Outros,9.19,0.69,11.05,NaN,NaN,47781.0,0,4.663733e+08,13.31,0.12,1.29,True
97,VOTS11,Títulos e Val. Mob.,95.47,0.98,11.20,NaN,NaN,32.0,0,8.095816e+07,97.79,1.35,1.44,True
202,VSLH11,Outros,9.06,0.89,15.36,NaN,NaN,102473.0,0,3.032310e+08,10.15,0.11,1.18,True
256,XPCI11,Outros,95.22,0.98,12.53,NaN,NaN,30834.0,0,6.704597e+08,97.34,1.18,1.22,True
248,XPCM11,Lajes Corporativas,16.47,0.31,10.16,100.00,NaN,2783.0,1,1.298543e+08,53.78,0.18,1.03,True
266,XPSF11,Outros,7.32,0.08,10.43,NaN,NaN,95713.0,0,3.787900e+08,87.48,0.68,0.93,True

In [863]:
# média "mean" e desvio padrão "std"
pivot_table_FIIs = FII_df.groupby("Setor").agg(["mean","std"])
pivot_table_FIIs

                     Preço Atual                   P/VPA            \
                            mean           std      mean       std
Setor
Hospital              135.980000    120.792847  0.843333  0.135769
Hotel                  84.933333     13.327781  0.816667  0.237136
Híbrido              1811.957045  11444.534854  0.834091  0.271707
Lajes Corporativas    808.486667   3957.702629  0.694359  0.234552
Logística             109.024545     53.593264  0.842727  0.146553
Outros                139.641765    268.280957  0.810882  0.210819
Residencial            44.705714     36.839005  0.787143  0.529708
Shoppings             244.209545    474.135817  0.706818  0.224529
Títulos e Val. Mob.    92.119556    106.199682  1.015778  0.729007

                    DY (12M)Acumulado           VacânciaFísica             \
                                 mean       std           mean        std
Setor
Hospital                     8.563333  1.468650       0.000000   0.000000
Hotel                        6.826667  2.933843      64.950000   0.070711
Híbrido                      7.100455  4.682826       5.922222   6.975334
Lajes Corporativas           6.918462  4.372970      26.214595  29.661958
Logística                    7.820455  2.762946       7.609524  17.914628
Outros                       9.391176  4.467487       5.710625  11.939059
Residencial                  2.394286  4.132037      15.200000  18.101934
Shoppings                    5.252273  2.943089      10.806364  12.131324
Títulos e Val. Mob.          8.520889  5.512200       0.000000        NaN

                    VacânciaFinanceira             ... PatrimônioLíq.  \
                                  mean        std  ...           mean
Setor                                              ...
Hospital                           NaN        NaN  ...   2.723918e+08
Hotel                              NaN        NaN  ...   2.165030e+08
Híbrido                       8.045714   9.534007  ...   5.391176e+08
Lajes Corporativas           27.734444  31.752574  ...   3.825381e+08
Logística                     0.970000   2.062388  ...   8.930297e+08
Outros                        4.770000   5.481934  ...   4.546490e+08
Residencial                        NaN        NaN  ...   1.034679e+08
Shoppings                          NaN        NaN  ...   6.754022e+08
Títulos e Val. Mob.                NaN        NaN  ...   5.796342e+08

                                           VPA               Dividendo  \
                              std         mean           std      mean
Setor
Hospital             2.396184e+08   159.893333    130.002959  1.370000
Hotel                1.234769e+08   107.200000     18.820064  0.300000
Híbrido              8.395905e+08  1695.420000  10585.980567  0.825000
Lajes Corporativas   4.213252e+08  1068.837179   4691.832540  1.808205
Logística            9.128939e+08   145.150000    132.611795  0.785909
Outros               5.238997e+08   172.163529    318.738401  1.450294
Residencial          8.387438e+07    67.742857     54.493819  0.320000
Shoppings            6.722846e+08   356.173636    770.151132  1.661818
Títulos e Val. Mob.  9.888428e+08    97.575889    102.633141  1.044778

                              DividendYield           Fundos_VPA
                          std          mean       std       mean       std
Setor
Hospital             1.213960      0.770000  0.105357   1.000000  0.000000
Hotel                0.435890      0.370000  0.556507   0.666667  0.577350
Híbrido              0.588065      0.879318  0.374851   0.750000  0.438019
Lajes Corporativas   4.735263      0.594872  0.308424   0.897436  0.307355
Logística            0.298977      0.760455  0.188666   0.818182  0.394771
Outros               2.560958      0.963235  0.352366   0.852941  0.359491
Residencial          0.313528      0.752857  1.026819   0.857143  0.377964
Shoppings            3.597151      0.540455  0.255650   0.954545  0.213201
Títulos e Val. Mob.  0.733833      1.121000  0.325131   0.555556  0.499688

[9 rows x 24 columns]

In [864]:
# Função para possíveis oportunidades de mercado
def oportunidade_setor (df, setor="Outros", label_setor="Setor"):

  pivot_table_FIIs = FII_df.groupby('Setor').agg(['mean','std'])

  df_setor = df[df[label_setor].isin([setor])]

  filter_ = \
            (df_setor['QuantidadeAtivos'] > 5) &\
            (df_setor['Liquidez Diária'] > 800) &\
            (df_setor['P/VPA'] < 1) &\
            (df_setor['DY (12M)Acumulado'] > pivot_table_FIIs.loc[setor, ('DY (12M)Acumulado','mean')]) 
  print('média do setor Yield: {}'.format(pivot_table_FIIs.loc[setor, ('DY (12M)Acumulado','mean')]))
  print('média do setor p/VPA: {}'.format(pivot_table_FIIs.loc[setor, ('P/VPA','mean')]))
  print('média do setor Ativos: {}'.format(pivot_table_FIIs.loc[setor, ('QuantidadeAtivos','mean')]))
    
  return df_setor[filter_]

In [865]:
oportunidade = oportunidade_setor(FII_df, setor='Outros')
oportunidade.sort_values('DY (12M)Acumulado', ascending=False, inplace=True)
oportunidade

média do setor Yield: 9.391176470588235
média do setor p/VPA: 0.8108823529411765
média do setor Ativos: 6.5588235294117645

,Códigodo fundo,Setor,Preço Atual,P/VPA,DY (12M)Acumulado,VacânciaFísica,VacânciaFinanceira,Liquidez Diária,QuantidadeAtivos,PatrimônioLíq.,VPA,Dividendo,DividendYield,Fundos_VPA
67,RBVA11,Outros,92.78,0.90,10.75,0.70,NaN,15816.0,72,1.193342e+09,102.98,0.92,0.93,True
60,BBRC11,Outros,96.88,0.90,10.35,5.37,1.08,1146.0,20,1.718291e+08,108.07,0.94,0.95,True
200,MAXR11,Outros,81.65,0.68,9.56,2.80,NaN,4802.0,8,1.354145e+08,120.30,0.80,1.01,True
125,BTAL11,Outros,95.77,0.92,9.53,NaN,NaN,14609.0,7,6.202946e+08,103.68,0.83,0.85,True